.fuzy_top_bar_wrapper {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  padding: 1em;
}

.fuzy_top_bar_inner_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fuzy_profile h4 {
  cursor: pointer;
}
