* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  letter-spacing: 2px;
  font-weight: 600;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
}
